In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('dados/missions_launched.csv')

In [4]:
data.head()

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
1,F1-2,21 March 2007,01:10,Marshall Islands,Falcon 1,DemoSat,NaN,NaN,NaN,DARPA,Government,United States,Failure,Engine Shutdown During Launch,NaN,NaN
2,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Trailblazer,Communication Satellite,NaN,NaN,ORS,Government,United States,Failure,Collision During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
4,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Explorers,Human Remains,NaN,NaN,Celestis,Business,United States,Failure,Collision During Launch,NaN,NaN

In [5]:
data['Vehicle Type'].unique()

array(['Falcon 1', 'Falcon 9 (v1.0)', 'Falcon 9 (v1.1)',
       'Falcon 9 Full Thrust (v1.2)'], dtype=object)

In [6]:
data['Mission Outcome'].unique()

array(['Failure', 'Success'], dtype=object)

In [17]:
data_S_F = data.groupby('Mission Outcome').size().reset_index(name='Count')
data_S_F

  Mission Outcome  Count
0         Failure      8
1         Success     33

In [19]:
data_s_f_rocket = data.groupby(['Vehicle Type','Mission Outcome']).size().reset_index(name='Count')
data_s_f_rocket

                  Vehicle Type Mission Outcome  Count
0                     Falcon 1         Failure      5
1                     Falcon 1         Success      2
2              Falcon 9 (v1.0)         Failure      1
3              Falcon 9 (v1.0)         Success      5
4              Falcon 9 (v1.1)         Failure      1
5              Falcon 9 (v1.1)         Success     15
6  Falcon 9 Full Thrust (v1.2)         Failure      1
7  Falcon 9 Full Thrust (v1.2)         Success     11